# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Django
staticfiles/
media/
*.sqlite3

# Node
node_modules/
frontend/dist/

# Env & secrets
.env
*.pem

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Backups
backups/

# Logs
*.log
logs/
